
<div class="row">
    <div class="card">
        <img class="card-img-top justify-content-center"
            src="{{ page.image-url }}/assets/images/Nashville Housing.jfif" alt="Card image cap">
        <div class="card-body">


            <h2 class="card-title">Data Cleaning in SQL
            </h2>
            <p>This project involves using SQL Server to enhance the usability of raw housing data for analysis
                purposes. Through data cleaning techniques, we optimize the data for meaningful insights. </p>
            </br>

            <a class="btn btn-primary  float-right" role="button"
                href="https://github.com/scarmen26/PortfolioProjects/blob/main/Data%20Cleaning%20in%20SQL.txt"
                class="button">View Project on GitHub</a>
        </div>
    </div>
</div>


<div class="row">
    <div class="card  ">
        <img class="card-img-top justify-content-center"
            src="{{ page.image-url }}/assets/images/Washington DC.jpg" alt="Card image cap">
        <div class="card-body">


            <h2 class="card-title">Data
                Exploration in Python
            </h2>
            <p>Data exploration of neighborhood investment and disinvestment in Python. I explore economic and
                racial
                characteristics of distinct Washington D.C spatial areas and their association with levels of
                reinvestment
                within them. </p>
            </br>

            <a class="btn btn-primary  float-right" role="button"
                href="https://github.com/scarmen26/PortfolioProjects/blob/main/Investment%20and%20Disinvestment%20in%20Washington%20DC.ipynb"
                class="button">View Project on GitHub</a>
        </div>
    </div>
</div>


                <div class="row">
                    <div class="card">
                        <img class="card-img-top justify-content-center"
                            src="{{ page.image-url }}/assets/images/Titanic.jpg" alt="Card image cap">
                        <div class="card-body">
                
                
                            <h2 class="card-title">Data Manipulation and Analysis in Python
                            </h2>
                            <p>In this project, i perform data manipulation and analysis on the Titanic Dataset from Kaggle using Python. I load the dataset, clean the data, and provide an overview of passengers who survived the Titanic shipwreck of 1912 by exploring variables like passenger socio-economic class, age, gender, and fare. </p>
                            </br>
                
                            <a class="btn btn-primary  float-right" role="button"
                                href="https://github.com/scarmen26/PortfolioProjects/blob/main/Data%20Manipulation%20and%20Analysis%20in%20Python.ipynb"
                                class="button">View Project on GitHub</a>

        </div>
    </div>
</div>
<div class="row">
    <div class="card ">
        <img class="card-img-top" src="{{ page.image-url }}/assets/images/Tableau.jfif"
            alt="Card image cap">
        <div class="card-body">


            <h2 class="card-title">Survival
                Insights: Class, Age, Gender, and Embarkment
            </h2>
            <p>This visualization presents a comprehensive overview of the survivors of the Titanic shipwreck. It
                examines
                the
                survival rates based on various variables, including passenger Socioeconomic Status (1 = Upper, 2 =
                Middle,
                3 =
                Lower), age groups, gender, and the port of embarkation.</p>


            <a class="btn btn-primary" role="button"
                href="https://public.tableau.com/app/profile/carmen.salazar6050/viz/SurvivalInsightsClassAgeGenderEmbarkmentandFare/Dashboard1"
                class="button">View Project on Tableau</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="card  ">
        <img class="card-img-top" src="{{ page.image-url }}/assets/images/Tableau.jfif"
            alt="Card image cap">

        <div class="card-body">

            <h2 class="card-title">
                Terrorism Across Time and Borders
            </h2>
            <p>In this Tableau project, I visually explore data on terrorism attacks, highlighting the most active
                and
                prominent
                organizations and groups involved in these attacks, categorized by regions.</p>
            </br>
            <a class="btn btn-primary" role="button"
                href="https://public.tableau.com/app/profile/carmen.salazar6050/viz/TerrorismAcrossTimeandBorders/Dashboard1"
                class="button">View Project on Tableau</a>
        </div>
    </div>
</div>