<!-- Projects -->
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <header>

            <h2><a href="https://github.com/scarmen26/PortfolioProjects/blob/main/Investment%20and%20Disinvestment%20in%20Washington%20DC.ipynb">Data Exploration in Python<br />
            </a></h2>
        </header>
        <a href="https://github.com/scarmen26/PortfolioProjects/blob/main/Investment%20and%20Disinvestment%20in%20Washington%20DC.ipynb" class="image fit"><img src="images/Washington DC.jpg" alt="" /></a>
        <p>Data exploration of neighborhood investment and disinvestment in Python. I explore economic and racial characteristics of distinct Washington D.C spatial areas and their association with levels of reinvestment within them. </p>
        </br>

               <a class="btn btn-primary"  role="button" href="https://github.com/scarmen26/PortfolioProjects/blob/main/Investment%20and%20Disinvestment%20in%20Washington%20DC.ipynb" class="button">View Project on GitHub</a>
    </li>
    <li class="list-group-item">
        <header>
            
            <h2><a href="https://public.tableau.com/app/profile/carmen.salazar6050/viz/SurvivalInsightsClassAgeGenderEmbarkmentandFare/Dashboard1">Survival Insights: Class, Age, Gender, and Embarkment<br />
            </a></h2>
        </header>
        <a href="https://public.tableau.com/app/profile/carmen.salazar6050/viz/SurvivalInsightsClassAgeGenderEmbarkmentandFare/Dashboard1" class="image fit"><img src="images/Tableau.jfif" alt="" /></a>
        <p>This visualization presents a comprehensive overview of the survivors of the Titanic shipwreck. It examines the survival rates based on various variables, including passenger Socioeconomic Status (1 = Upper, 2 = Middle, 3 = Lower), age groups, gender, and the port of embarkation.</p>

      
           <a class="btn btn-primary"  role="button" href="https://public.tableau.com/app/profile/carmen.salazar6050/viz/SurvivalInsightsClassAgeGenderEmbarkmentandFare/Dashboard1" class="button">View Project on GitHub</a>
    </li>	
    <li class="list-group-item">
        <header>
            
            <h2><a href="https://public.tableau.com/app/profile/carmen.salazar6050/viz/TerrorismAcrossTimeandBorders/Dashboard1">Terrorism Across Time and Borders<br />
            </a></h2>
        </header>
        <a href="https://public.tableau.com/app/profile/carmen.salazar6050/viz/TerrorismAcrossTimeandBorders/Dashboard1" class="image fit"><img src="images/Tableau.jfif" alt="" /></a>
        <p>In this Tableau project, I visually explore data on terrorism attacks, highlighting the most active and prominent organizations and groups involved in these attacks, categorized by regions.</p>
    </br>
           <a class="btn btn-primary"  role="button" href="https://public.tableau.com/app/profile/carmen.salazar6050/viz/TerrorismAcrossTimeandBorders/Dashboard1" class="button">View Project on GitHub</a>
    </li>
    </ul>