<!-- Publications -->
<ul class="list-group list-group-flush">
    <li class="list-group-item">
<p>Oh, H., Golash-Boza, T., Rajabally, W., & Salazar, C. (2023). Marginal Gentrification and Racial Capitalism in a Post-chocolate City. Sociological Perspectives, 0(0). https://doi.org/10.1177/07311214231177007</p>

<p><a  class="btn btn-primary"  role="button" href="https://journals.sagepub.com/doi/10.1177/07311214231177007" class="button">View Publication</a></p>
</li>

<li class="list-group-item">
<p>Tanya Golash-Boza, Hyunsu Oh & Carmen Salazar (2023) Broken windows and order-maintenance policing in gentrifying Washington, DC, Policing and Society, 33:2, 205-221, DOI: 10.1080/10439463.2022.2085268</p>


<p><a  class="btn btn-primary"  role="button" href="https://www.tandfonline.com/doi/abs/10.1080/10439463.2022.2085268">View Publication</a></p>
</li>

</ul>